<div class="p-404">
  <div class="p-404__wrapper">
    <h1 class="p-404__heading">404&ensp;Not&ensp;Found</h1>
    <p class="p-404__text">
      お探しのページは<br class="u-hidden-pc" />見つかりませんでした。
    </p>
  </div>
  <div class="p-404__btn">
    <%- include('../../parts/component/_c-common-btn',{btnText:'TOPへ',
    link:'#'}) %>
  </div>
</div>
