<div class="p-header">
  <div class="p-header__inner">
    <div class="p-header__content">
      <h1 class="p-header__logo">
        <a href="#" class="p-header__home-link">
          <img src="../images/top/logo.svg" alt="CodeUps" />
        </a>
      </h1>
      <nav class="p-header__nav">
        <ul class="p-header__lists">
          <li class="p-header__list">
            <a href="information.html" class="p-header__link">お知らせ</a>
          </li>
          <li class="p-header__list">
            <a href="philosophy.html" class="p-header__link">事業内容</a>
          </li>
          <li class="p-header__list">
            <a href="production.html" class="p-header__link">制作実績</a>
          </li>
          <li class="p-header__list">
            <a href="overview.html" class="p-header__link">企業概要</a>
          </li>
          <li class="p-header__list">
            <a href="blog.html" class="p-header__link">ブログ</a>
          </li>
          <li class="p-header__list">
            <a href="contact.html" class="p-header__contact">お問い合わせ</a>
          </li>
        </ul>
      </nav>
      <button class="p-drawer-icon">
        <div class="p-drawer-icon__bars">
          <span class="p-drawer-icon__bar1"></span>
          <span class="p-drawer-icon__bar2"></span>
          <span class="p-drawer-icon__bar3"></span>
        </div>
      </button>
      <div class="p-drawer-content">
        <div class="p-drawer-content__items">
          <div class="p-drawer-content__item"><a href="#">トップ</a></div>
          <div class="p-drawer-content__item">
            <a href="nformation.html">お知らせ</a>
          </div>
          <div class="p-drawer-content__item">
            <a href="philosophy.html">事業内容</a>
          </div>
          <div class="p-drawer-content__item">
            <a href="production.html">制作実績</a>
          </div>
          <div class="p-drawer-content__item">
            <a href="overview.html">企業概要</a>
          </div>
          <div class="p-drawer-content__item">
            <a href="blog.html">ブログ</a>
          </div>
          <div class="p-drawer-content__item">
            <a href="contact.html">お問い合わせ</a>
          </div>
        </div>
      </div>
      <div class="p-drawer-background"></div>
    </div>
  </div>
</div>
