<a class="p-information p-information-list">
  <time class="p-information-list__time"> 2020.07.20 </time>
  <span class="p-information-list__category c-category">カテゴリ</span>
  <h3 class="p-information-list__title">
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
  </h3>
</a>
<a class="p-information p-information-list">
  <time class="p-information-list__time"> 2020.07.20 </time>
  <span class="p-information-list__category c-category">カテゴリ</span>
  <h3 class="p-information-list__title">
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
  </h3> </a
><a class="p-information p-information-list">
  <time class="p-information-list__time"> 2020.07.20 </time>
  <span class="p-information-list__category c-category">カテゴリ</span>
  <h3 class="p-information-list__title">
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
  </h3> </a
><a class="p-information p-information-list">
  <time class="p-information-list__time"> 2020.07.20 </time>
  <span class="p-information-list__category c-category">カテゴリ</span>
  <h3 class="p-information-list__title">
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
  </h3> </a
><a class="p-information p-information-list">
  <time class="p-information-list__time"> 2020.07.20 </time>
  <span class="p-information-list__category c-category">カテゴリ</span>
  <h3 class="p-information-list__title">
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
  </h3>
</a>
<a class="p-information p-information-list">
  <time class="p-information-list__time"> 2020.07.20 </time>
  <span class="p-information-list__category c-category">カテゴリ</span>
  <h3 class="p-information-list__title">
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
  </h3> </a
><a class="p-information p-information-list">
  <time class="p-information-list__time"> 2020.07.20 </time>
  <span class="p-information-list__category c-category">カテゴリ</span>
  <h3 class="p-information-list__title">
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
  </h3> </a
><a class="p-information p-information-list">
  <time class="p-information-list__time"> 2020.07.20 </time>
  <span class="p-information-list__category c-category">カテゴリ</span>
  <h3 class="p-information-list__title">
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
  </h3> </a
><a class="p-information p-information-list">
  <time class="p-information-list__time"> 2020.07.20 </time>
  <span class="p-information-list__category c-category">カテゴリ</span>
  <h3 class="p-information-list__title">
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
  </h3> </a
><a class="p-information p-information-list">
  <time class="p-information-list__time"> 2020.07.20 </time>
  <span class="p-information-list__category c-category">カテゴリ</span>
  <h3 class="p-information-list__title">
    記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
  </h3>
</a>
