.p-card {
}
.p-card__detail {
  background: $white;
  padding: rem(16) rem(24);
}
.p-card__title {
  color: $gray;
  font-size: rem(18);
  letter-spacing: 0.01em;
}
.p-card__text {
  color: $gray;
  font-size: rem(14);
  letter-spacing: 0.01em;
  line-height: 1.8571;
  margin-top: rem(8);
}
.p-card__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: rem(8);
}
.p-card__category {
  background: $category-color;
  font-size: rem(14);
  padding: rem(3) rem(6);
  letter-spacing: 0.1em;
  color: $black;
}
.p-card__time {
  color: $gray;
}
