.swiper {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  @include mq(tab) {
    max-width: rem(557);
    width: 100%;
  }
}
.swiper-wrapper {
}
.swiper-slide {
}
.p-swiper__img {
  width: 100%;
  position: relative;
}
.p-swiper__img::before {
  padding-top: 69.6%;
  display: block;
  content: "";
}
.p-swiper__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
