.p-top-blog {
  @include mq(tab) {
    padding-bottom: rem(150);
  }
}
.p-top-blog__title {
  text-align: center;
}
.p-top-blog__content {
  @include mq(tab) {
    margin-top: rem(48);
  }
}
.p-top-blog__btn {
  margin-top: rem(48);
  text-align: center;
}
