<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
  <!-- header -->
  <%- include('./common/_lower-header') %>
    <main>
      <section class="l-404">
        <%- include('./parts/project/_p-404.ejs') %></main>
      </section>

    <!-- footer -->
  </body>
</html>
