<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- header -->
    <main>
      <section class="l-top-content">
        <div class="p-top-content">
          <div class="p-top-content__title">
            <%- include('./parts/component/_c-section-title',{sectionTitle:'事業内容'}) %>
            <%- include('./parts/component/_c-sub-title',{subTitle:'content'}) %>
          </div>
          <div class="p-top-content__link-wrapper">
            <a href="#" class="p-top-content__link">
              <p class="p-top-content__link-title">経営理念ページへ</p>
              <img src="../images/content/content1.jpg" alt="">
            </a>
            <a href="#" class="p-top-content__link">
              <p class="p-top-content__link-title">理念1へ</p>
              <img src="../images/content/content2.jpg" alt="">
            </a>
            <a href="#" class="p-top-content__link">
              <p class="p-top-content__link-title">理念2へ</p>
              <img src="../images/content/content3.jpg" alt="">
            </a>
            <a href="#" class="p-top-content__link">
              <p class="p-top-content__link-title">理念3へ</p>
              <img src="../images/content/content4.jpg" alt="">
            </a>
          </div>
        </div>
      </section>
      <section class="l-top-works-slider"></section>
      <section class="l-top-overview"></section>
      <section class="l-top-blog"></section>
    </main>

    <!-- footer -->
  </body>
</html>
