<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- header -->
    <main>
      <section class="l-top-content">
        <div class="p-top-content">
          <div class="p-top-content__title">
            <%- include('./parts/component/_c-section-title',{sectionTitle:'事業内容'}) %>
            <%- include('./parts/component/_c-sub-title',{subTitle:'content'}) %>
          </div>
          
        </div>
      </section>
      <section class="l-top-works-slider"></section>
      <section class="l-top-overview"></section>
      <section class="l-top-blog"></section>
    </main>

    <!-- footer -->
  </body>
</html>
