<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- header -->
    <main>
      <section class="l-top-content">test</section>
      <section class="l-top-works-slider"></section>
      <section class="l-top-overview"></section>
      <section class="l-top-blog"></section>
    </main>

    <!-- footer -->
  </body>
</html>
