<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- header -->
    <%- include('./common/_lower-header') %>
    <main>
      <section class="l-information">
        <div class="l-inner">
          <%- include('./parts/project/_p-information.ejs') %>
      </section>
    </div>
    </main>

    <!-- footer -->
  </body>
</html>
