<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
     <!-- header -->
     <%- include('./common/_lower-header') %>
    <main></main>

    <!-- footer -->
  </body>
</html>
