<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- header -->
    <section class="l-overview">
        <div class="p-overview">
            <div class="l-inner">
                <div class="p-overview__content">
                    <dl class="p-overview__detail">
                        <div class="p-overview__row">
                            <dt class="p-overview__title">会社名</dt>
                            <div class="p-overview__text-wrapper">
                                <dd class="p-overview__text">株式会社CodeUps</dd>
                            </div>
                        </div>
                        <div class="p-overview__row">
                            <dt class="p-overview__title">設立</dt>
                            <div class="p-overview__text-wrapper">
                                <dd class="p-overview__text">テキストが入ります。</dd>
                            </div>
                        </div>
                        <div class="p-overview__row">
                            <dt class="p-overview__title">資本金</dt>
                            <div class="p-overview__text-wrapper">
                                <dd class="p-overview__text">テキストが入ります。</dd>
                            </div>
                        </div>
                        <div class="p-overview__row">
                            <dt class="p-overview__title">売上高</dt>
                            <div class="p-overview__text-wrapper">
                                <dd class="p-overview__text">テキストが入ります。</dd>
                            </div>
                        </div>
                        <div class="p-overview__row">
                            <dt class="p-overview__title">代表者</dt>
                            <div class="p-overview__text-wrapper">
                                <dd class="p-overview__text">テキストが入ります。</dd>
                            </div>
                        </div>
                        <div class="p-overview__row">
                            <dt class="p-overview__title">従業員数</dt>
                            <div class="p-overview__text-wrapper">
                                <dd class="p-overview__text">テキストが入ります。</dd>
                            </div>
                        </div>
                        <div class="p-overview__row">
                            <dt class="p-overview__title">事業内容</dt>
                            <div class="p-overview__text-wrapper">
                                <dd class="p-overview__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
                            </div>
                        </div>
                        <div class="p-overview__row">
                            <dt class="p-overview__title">所在地</dt>
                            <div class="p-overview__text-wrapper">
                                <dd class="p-overview__text">東京駅</dd>
                            </div>
                        </div>
                    </dl>
                    <div class="p-overview__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.74779853328!2d139.74324421519992!3d35.65858483882126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1648481244713!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="l-footer">
      <div class="p-footer">
        <div class="l-footer__inner">
          <div class="p-footer__title">
            <%- include('./parts/component/_c-section-title',{sectionTitle:'お問い合わせ'}) %>
            <%- include('./parts/component/_c-sub-title',{subTitle:'contact'}) %>
          </div>
          <div class="p-footer__content">
            <div class="p-footer__contact">
              <div class="p-footer__text">
                <p class="c-text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
              </div>
              <div class="p-footer__btn">
                <%- include('./parts/component/_c-common-btn',{btnText:'お問い合わせへ', link:'#'}) %>
              </div>
            </div>
            <div class="p-footer__navigation">
              <a href="./index.ejs" class="p-footer__img">
                <img src="../images/common/logo.svg" alt="">
              </a>
              <ul class="p-footer__lists">
                <li class="p-footer__list">
                  <a href="#">お知らせ</a>
                </li>
                <li class="p-footer__list">
                  <a href="#">事業内容</a>
                </li>
                <li class="p-footer__list">
                  <a href="#">制作実績</a>
                </li>
                <li class="p-footer__list">
                  <a href="#">企業概要</a>
                </li>
                <li class="p-footer__list">
                  <a href="#">自社メディア</a>
                </li>
                <li class="p-footer__list">
                  <a href="#">お問い合わせ</a>
                </li>
              </ul>
            </div>
            <div class="p-footer__small">
              <small>&copy; 2021 CodeUps Inc.</small>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer -->
  </body>
</html>
