<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- header -->
    <main>
        <div class="p-page-contact">
            <div class="p-page-contact__form">
                <dl class="p-page-contact__dl">
                    <div class="p-page-contact__row">
                        <dt class="p-page-contact__form-title"><label for="your-company">※会社名</label></dt>
                        <dd class="p-page-contact__input-area"><input type="text" id="your-company" placeholder="テキストが入ります"></dd>
                    </div>
                    <div class="p-page-contact__row">
                        <dt class="p-page-contact__form-title"><label for="your-name">※お名前</label></dt>
                        <dd class="p-page-contact__input-area"><input type="text" id="your-name" placeholder="テキストが入ります"></dd>
                    </div>
                    <div class="p-page-contact__row">
                        <dt class="p-page-contact__form-title"><label for="your-furi">※ふりがな</label></dt>
                        <dd class="p-page-contact__input-area"><input type="email" id="your-furi" placeholder="テキストが入ります"></dd>
                    </div>
                    <div class="p-page-contact__row">
                        <dt class="p-page-contact__form-title"><label for="your-email">※メールアドレス</label></dt>
                        <dd class="p-page-contact__input-area"><input type="text" id="your-email" placeholder="テキストが入ります"></dd>
                    </div>
                    <div class="p-page-contact__row-question">
                        <dt class="p-page-contact__form-title"><label for="your-question">※お問い合わせ内容</label></dt>
                        <dd class="p-page-contact__input-area"><textarea name="" id="your-question"></textarea></dd>
                    </div>
                    <div class="p-page-contact__form-button">
                        <input type="submit" value="送信">
                    </div>
                </dl>
              </div>
        </div>
    </main>
    <!-- footer -->
  </body>
</html>