<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %> <%- include('./common/_lower-header') %>
  <body>
    <!-- header -->
    <%- include('./common/_lower-header') %>
    <main>
      <section class="l-philosophy">
        <div class="p-philosophy">
          <div class="l-inner">
            <div class="p-philosophy__top">
              <h3 class="p-philosophy__top-title">企業理念</h3>
              <div
                class="p-philosophy__text-wrapper p-philosophy__text-wrapper--top"
              >
                <p class="p-philosophy__text">
                  説明が入ります。説明が入ります。説明が入ります。説明が入ります。
                  説明が入ります。説明が入ります。説明が入ります。説明が入ります。
                </p>
              </div>
            </div>
            <div class="p-philosophy__contents">
              <div class="p-philosophy__content">
                <figure class="p-philosophy__img">
                  <img src="../images/philosophy/philosophy-1.jpg" alt="" />
                </figure>
                <div class="p-philosophy__items">
                  <h3 class="p-philosophy__title">企業理念1</h3>
                  <div class="p-philosophy__text-wrapper">
                    <p class="c-text">
                      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                    </p>
                  </div>
                </div>
              </div>
              <div class="p-philosophy__content">
                <figure class="p-philosophy__img">
                  <img src="../images/philosophy/philosophy-2.jpg" alt="" />
                </figure>
                <div class="p-philosophy__items p-philosophy__items--odd">
                  <h3 class="p-philosophy__title">企業理念2</h3>
                  <div class="p-philosophy__text-wrapper">
                    <p class="c-text">
                      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                    </p>
                  </div>
                </div>
              </div>
              <div class="p-philosophy__content">
                <figure class="p-philosophy__img">
                  <img src="../images/philosophy/philosophy-3.jpg" alt="" />
                </figure>
                <div class="p-philosophy__items">
                  <h3 class="p-philosophy__title">企業理念3</h3>
                  <div class="p-philosophy__text-wrapper">
                    <p class="c-text">
                      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- footer -->
  </body>
</html>
