<!DOCTYPE html>
<html lang="ja">
    <body>
        <%- include('./common/_head') %>
            <div class="l-production">
                <div class="p-production">
                    <a href="#" class="p-production__card">
                        <figure class="p-production__img">
                            <img src="../images/production/production1.jpg" alt="">
                        </figure>
                        <span class="p-production__category">カテゴリ1</span>
                        <h3 class="p-production__title">CodeUps株式会社</h3>
                    </a>
                    <a href="#" class="p-production__card">
                        <figure class="p-production__img">
                            <img src="../images/production/production2.jpg" alt="">
                        </figure>
                        <span class="p-production__category">カテゴリ2</span>
                        <h3 class="p-production__title">CodeUps株式会社</h3>
                    </a>
                    <a href="#" class="p-production__card">
                        <figure class="p-production__img">
                            <img src="../images/production/production3.jpg" alt="">
                        </figure>
                        <span class="p-production__category">カテゴリ2</span>
                        <h3 class="p-production__title">CodeUps株式会社</h3>
                    </a>
                    <a href="#" class="p-production__card">
                        <figure class="p-production__img">
                            <img src="../images/production/production4.jpg" alt="">
                        </figure>
                        <span class="p-production__category">カテゴリ2</span>
                        <h3 class="p-production__title">CodeUps株式会社</h3>
                    </a>
                    <a href="#" class="p-production__card">
                        <figure class="p-production__img">
                            <img src="../images/production/production5.jpg" alt="">
                        </figure>
                        <span class="p-production__category">カテゴリ2</span>
                        <h3 class="p-production__title">CodeUps株式会社</h3>
                    </a>
                    <a href="#" class="p-production__card">
                        <figure class="p-production__img">
                            <img src="../images/production/production6.jpg" alt="">
                        </figure>
                        <span class="p-production__category">カテゴリ2</span>
                        <h3 class="p-production__title">CodeUps株式会社</h3>
                    </a>
                </div>
            </div>
        <%- include('./common/_footer') %>
    </body>
</html>