<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- header -->
    <main>
      <section class="l-thanks">

        <%- include('./parts/project/_p-thanks.ejs') %></main>
      </section>

    <!-- footer -->
  </body>
</html>
